body {
    border-top: 0;
}

h2 {
    color: #2980b9;
}

strong {
    font-weight: bold;
}

.site-header {
    border-top: 0;
}

.site-splash-img {
    text-align: center;
    background-color: #34495e;
    background-image: url('../assets/images/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-logo {
    width: 360px;
    margin-bottom: 40px;
}
